.number{
    font-family: 'Roboto';
    margin-top: 5rem;
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
}

.text{
    font-family: 'Roboto';
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(34, 196, 67);
}

a:hover{
    color: black;
}
