<div class="fav-container">
    <div class="form-search">
        <label>Selecciona una ciudad:&nbsp;</label>
        <select class="select-ciudades" [(ngModel)]="ciudadName" (change)="changeCiudad()">
            <option value="">Selecciona una</option>
            <option *ngFor="let fav of favArray" value={{fav}}>{{fav}}</option>
        </select>
        <button class="remove-btn" (click)="removeFromFav()">
            Borrar de Favoritos
        </button>
    </div>
    <div class="weather-result">
        <div> <img src={{urlImg}}> </div>
        <div><p>Temperatura: {{data.main.temp}}ºF&nbsp;&nbsp; Sensacion térmica: {{data.main.feels_like}}ºF&nbsp;&nbsp; Mínima: {{data.main.temp_min}}ºF&nbsp;&nbsp; Máxima: {{data.main.temp_max}}ºF&nbsp;&nbsp; </p></div>
    </div>
</div>
